a{
    
    color: black;
    text-decoration-line: none;
    font-size: 20px;
}
a:hover{
    color: black;
    text-decoration-line: underline;
}
.Navbar{
    padding: 20px;
    margin-right: 20px;
}
.logo{
    text-align: center;
    margin-top: 120px;
}

.textinput{
    border: none;
    border-radius: 10px;
    width: 90%;
    height: 99%;
    outline: none;
}
.searchbar{
    padding: 5px;
    padding-left: 5px;
    margin: auto;
    margin-top: 3%;
    border: 0.5px solid grey;
    border-radius: 10px;
    width: 500px;
    height: 40px;
}
.searchbar:hover{
    border: 3.5px solid grey;
}
.bottom{
    margin: auto;
    width: 500px;
    background-color: white;
    margin-top: 0.5%;
    text-align: center;
}
.submitbutton{
    background-color: white;
    outline: none;
    border: 1px solid white;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.submitbutton:hover{
    border: 1px solid grey;
    border-radius: 5px;
}